// Colours

$white: #ffffff;
$black: #000000;
$mirage: #1B1B3A;
$whisper: #F1F1F8;
$java: #17BEBB;

// Typography

$base-font-stack: 'Brandon Text', Helvetica, sans-serif;


// Sizing

$base-font-size: 1em;

@function emCal($pixelBasedNum){
  @return $pixelBasedNum / $base-font-size * 1em
}
